$fontFamily: "Lato", sans-serif;
$color-1: rgb(34, 34, 34);
$color-2: rgb(241, 109, 127);
$color-3: rgb(255, 255, 255);
$color-4: rgb(159, 159, 159);
$color-5: rgb(0, 0, 0);
$color-6: rgb(111, 110, 110);
$color-7: rgb(93, 93, 110);
$color-8: rgb(242, 99, 118);
$color-9: rgb(99, 99, 99);
$color-10: rgb(77, 77, 77);
$color-11: rgb(239, 91, 112);
$color-12: rgb(177, 177, 177);
$background-1: rgb(255, 255, 255);
$background-2: rgb(34, 34, 34);
$background-3: rgb(241, 228, 230);
$background-4: rgba(33, 22, 22, 0.7);
$background-5: rgb(241, 109, 127);
$background-6: rgb(248, 248, 248);
$background-7: rgba(244, 244, 244, 0.7);
$background-8: rgb(248, 243, 244);
$background-9: rgb(245, 243, 243);
$border-1: 12px solid rgb(241, 109, 127);
$border-2: 1px solid rgb(255, 255, 255);
$border-3: 1px solid rgb(255, 106, 106);
$border-4: 63px solid rgb(239, 91, 112);
$border-5: 642px solid rgb(239, 91, 112);
$border-6: 1px solid rgb(255, 106, 106);
$border-7: 1px solid rgb(234, 234, 234);
$border-8: 1px solid rgb(164, 164, 164);
$border-9: 1px solid rgb(226, 226, 226);
$border-10: 1px solid rgb(234, 234, 234);
$border-11: 175px solid rgb(239, 91, 112);
$width-1: 1140px;
$width-2: 232px;
$width-3: 360px;
$width-4: 154px;
$width-5: 160px;
$width-6: 139px;
$width-7: 211px;
$width-8: 1600px;
$width-9: 256px;
$width-10: 100px;
$width-11: 32px;
$width-12: 768px;
$width-13: 736px;
$width-14: 320px;
$width-15: 205px;
$width-16: 95px;
$width-17: 109px;
$width-18: 90px;
$width-19: 79px;
$width-20: 212px;
$width-21: 652px;
$width-22: 262px;
$carousel-control-width: 8%;
