@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  background: rgb(255, 255, 255);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
.price,
.btn,
q,
a {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(34, 34, 34);
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(34, 34, 34);
}

h2 .fashion {
  color: rgb(241, 109, 127);
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgb(241, 109, 127);
}

h4 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

h5 {
  color: rgb(34, 34, 34);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

h6 {
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

p {
  color: rgb(159, 159, 159);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  max-width: 100%;
  min-height: 75px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
}

header .header__logos {
  display: flex;
  align-items: center;
  gap: 41px;
}

header .header__logos .header__search {
  display: flex;
  margin-top: 10px;
}

header .header__menus {
  display: flex;
  align-items: center;
  gap: 33px;
}

header .header__menus .header__basket {
  position: relative;
}

header .header__menus .header__basket .header__basket-cart {
  position: absolute;
  top: -8px;
  right: -8px;
}

header .header__menus .header__basket .header__basket-cart .header__basket-cart__img {
  position: relative;
}

header .header__menus .header__basket .header__basket-cart .header__basket-cart__img .header__basket-cart__img-number {
  position: absolute;
  top: 3px;
  left: 6px;
}

header .header__menus .header__basket .header__basket-cart .header__basket-cart__img .header__basket-cart__img-number p {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 14px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .banner {
  display: flex;
  align-items: center;
  gap: 64px;
  background: rgb(241, 228, 230);
  margin-bottom: 65px;
  width: 1600px;
  position: relative;
}

.main .banner__catalog {
  position: absolute;
  top: 0;
  right: 0;
}

.main .banner .banner__text {
  display: flex;
  gap: 16px;
}

.main .banner .banner__text .line {
  border-left: 12px solid rgb(241, 109, 127);
  height: 92px;
}

.main .banner .banner__menu {
  width: 232px;
  height: 634px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 32px;
}

.main .banner .banner__menu h5 {
  padding-top: 32px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: rgb(0, 0, 0);
  padding-bottom: 4px;
}

.main .banner .banner__menu h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(241, 109, 127);
}

.main .banner .banner__menu a {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(111, 110, 110);
  padding-left: 22px;
}

.main .banner .banner__menu .union {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.main .banner .burger {
  display: none;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 96px;
}

.offers .offer {
  width: 360px;
  height: 260px;
}

.offers .offer .text {
  width: 154px;
  height: 50px;
  padding: 105px 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offers .offer__1 {
  background-image: url(./img/offer_women.webp);
}

.offers .offer__2 {
  background-image: url(./img/offer_men.webp);
}

.offers .offer__3 {
  background-image: url(./img/offer_kids.webp);
}

.offers .offer__4 {
  background-image: url(./img/offer_accesories.webp);
}

.offers .offer__1 .fon__1,
.offers .offer__2 .fon__2,
.offers .offer__3 .fon__3,
.offers .offer__4 .fon__4 {
  background: rgba(33, 22, 22, 0.7);
}

.offers .offer__4 .fon__4 {
  width: 1140px;
  height: 180px;
}

.offers .offer__4 .fon__4 .text__4 {
  width: 160px;
  height: 50px;
  padding: 65px 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.products .products__title {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .products__title h5 {
  margin-bottom: 6px;
}

.products .products__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 48px;
}

.products .products__cards .card {
  max-width: 360px;
}

.products .products__cards .card .img-1 {
  background-image: url(./img/product_1.webp);
}

.products .products__cards .card .img-2 {
  background-image: url(./img/product_2.webp);
}

.products .products__cards .card .img-3 {
  background-image: url(./img/product_3.webp);
}

.products .products__cards .card .img-4 {
  background-image: url(./img/product_4.webp);
}

.products .products__cards .card .img-5 {
  background-image: url(./img/product_5.webp);
}

.products .products__cards .card .img-6 {
  background-image: url(./img/product_6.webp);
}

.products .products__cards .card .image .fons {
  background: rgba(33, 22, 22, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 420px;
  opacity: 0;
}

.products .products__cards .card .image .fons button {
  width: 139px;
  height: 44px;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}

.products .products__cards .card .image .fons button span {
  color: rgb(255, 255, 255);
}

.products .products__cards .card .image:hover .fons {
  opacity: 1;
}

.products .products__cards:hover + .products__button button {
  border: 1px solid rgb(255, 106, 106);
  background: rgb(241, 109, 127);
}

.products .products__cards:hover + .products__button .btn {
  color: rgb(255, 255, 255);
}

.products .products__cards .card__text {
  padding: 24px 16px;
  background: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.products .products__cards .card__text p {
  color: rgb(93, 93, 110);
  font-weight: 300;
}

.products .products__cards .card__text .price {
  color: rgb(241, 109, 127);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.products .products__button button {
  border: 1px solid rgb(255, 106, 106);
  width: 211px;
  height: 47px;
  padding: 14px 37px;
  margin-bottom: 95px;
}

.products .products__button .btn {
  color: rgb(242, 99, 118);
  font-weight: 400;
  font-size: 16px;
}

.feature {
  width: 1600px;
  background: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 103px 0;
}

.feature .features__text {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature .features__text h4 {
  margin-top: 28px;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-size: 19.96px;
  line-height: 24px;
}

.feature .features__text p {
  color: rgb(255, 255, 255);
  font-size: 13.97px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
}

.feature .features__text p span .nobr {
  white-space: nowrap;
}

.promotion {
  background-image: url(./img/promotion-fon.webp);
  width: 1600px;
}

.promotion .fon {
  background: rgba(244, 244, 244, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 323px;
}

.promotion .fon .promotion__quote {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 96px;
  margin-bottom: 126px;
}

.promotion .fon .promotion__quote q {
  color: rgb(34, 34, 34);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.promotion .fon .subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotion .fon .subscribe h3 {
  color: rgb(34, 34, 34);
  text-align: center;
}

.promotion .fon .subscribe h5 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}

.promotion .fon .subscribe form {
  display: flex;
}

.promotion .fon .subscribe form input {
  width: 256px;
  height: 49px;
  background: rgb(255, 255, 255);
  border-radius: 20px 0 0 20px;
}

.promotion .fon .subscribe button {
  width: 100px;
  height: 49px;
  background: rgb(241, 109, 127);
  border-radius: 0 20px 20px 0;
}

.promotion .fon .subscribe .btn {
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: center;
}

.footer {
  max-width: 100%;
  min-height: 75px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50%;
}

.footer .company h6 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.footer .buttons {
  display: flex;
  gap: 8px;
}

.footer .buttons button {
  display: block;
  max-width: 32px;
  max-height: 32px;
  background-color: rgb(255, 255, 255);
}

.footer .buttons .facebook:hover img,
.footer .buttons .instagram:hover img,
.footer .buttons .pinterest:hover img,
.footer .buttons .twitter:hover img {
  opacity: 0;
}

.footer .buttons .facebook:hover {
  background-image: url(./img/facebook-hover.svg);
  background-size: cover;
}

.footer .buttons .instagram:hover {
  background-image: url(./img/instagram-hover.svg);
  background-size: cover;
}

.footer .buttons .pinterest:hover {
  background-image: url(./img/pinterest-hover.svg);
  background-size: cover;
}

.footer .buttons .twitter:hover {
  background-image: url(./img/twitter-hover.svg);
  background-size: cover;
}

.footer .buttons button:hover {
  background-color: rgb(241, 109, 127);
}

@media (min-width: 768px) and (max-width: 1140px) {
  .container {
    max-width: 96%;
  }
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 24px;
  }
  .header {
    gap: 45%;
  }
  .main .banner {
    gap: 39px;
    width: 768px;
  }
  .main .banner .banner__image {
    max-width: 50%;
  }
  .main .banner .banner__text {
    gap: 16px;
  }
  .offers {
    justify-content: center;
    gap: 19px;
    margin-bottom: 110px;
  }
  .offers .offer {
    width: 232px;
    height: 168px;
  }
  .offers .offer__1,
  .offers .offer__2,
  .offers .offer__3 {
    background-size: 232px 168px;
  }
  .offers .offer .text {
    width: 154px;
    height: 50px;
    padding: 59px 39px;
  }
  .offers .offer__4 {
    background-size: 736px 116px;
  }
  .offers .offer__4 .fon__4 {
    width: 736px;
    height: 116px;
  }
  .offers .offer__4 .fon__4 .text__4 {
    padding: 33px 287px;
  }
  .products .products__cards {
    gap: 16px;
  }
  .products .products__button button {
    margin-bottom: 65px;
  }
  .feature {
    width: 100%;
    flex-direction: column;
    gap: 48px;
    padding: 48px 0 64px;
  }
  .promotion {
    max-width: 100%;
    background-size: cover;
  }
  .promotion .fon {
    flex-direction: column;
    gap: 64px;
  }
  .promotion .fon .promotion__quote {
    margin-top: 64px;
    margin-bottom: 0px;
  }
  .promotion .fon .subscribe {
    margin-bottom: 140px;
  }
  .promotion .fon .subscribe h5 {
    margin-bottom: 27px;
  }
  .footer {
    gap: 43%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 96%;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 20px;
  }
  .header {
    gap: 40%;
  }
  .header .header__menus .header__user {
    display: none;
  }
  .header .header__menus .header__basket {
    display: none;
  }
  .main .banner {
    width: 100%;
    min-height: 363px;
    justify-content: center;
  }
  .main .banner .banner__image {
    display: none;
  }
  .main .banner .banner__text {
    gap: 15px;
  }
  .offers {
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
  }
  .offers .offer {
    width: 320px;
    height: 247px;
  }
  .offers .offer__1,
  .offers .offer__2,
  .offers .offer__3 {
    background-size: 320px 247px;
  }
  .offers .offer .text {
    width: 154px;
    height: 50px;
    padding: 98px 74px;
  }
  .offers .offer__4 {
    background-position: center;
    background-size: cover;
  }
  .offers .offer__4 .fon__4 {
    width: 320px;
    height: 111px;
  }
  .offers .offer__4 .fon__4 .text__4 {
    padding: 30px 72px;
  }
  .products .products__cards .card .image .fons {
    width: 100%;
  }
  .products .products__title {
    margin-bottom: 64px;
  }
  .products .products__title h5 {
    margin-bottom: 3px;
  }
  .feature {
    max-width: 100%;
    flex-direction: column;
    gap: 46px;
    padding: 48px 0 81px;
  }
  .feature .features__text {
    width: 320px;
  }
  .promotion {
    max-width: 100%;
    background-size: cover;
    background-position: 35% 75%;
  }
  .promotion .fon {
    flex-direction: column;
    gap: 64px;
  }
  .promotion .fon .promotion__quote {
    margin-top: 64px;
    margin-bottom: 0px;
  }
  .promotion .fon .subscribe {
    margin-bottom: 110px;
  }
  .promotion .fon .subscribe form input {
    width: 205px;
  }
  .promotion .fon .subscribe button {
    width: 95px;
  }
  .promotion .fon .subscribe h5 {
    margin-bottom: 22px;
  }
  .promotion .fon .promotion__quote {
    width: 320px;
  }
  .footer {
    flex-direction: column-reverse;
    gap: 40px;
    height: 143px;
  }
}/*# sourceMappingURL=style.css.map */